::ng-deep .p-rating .p-rating-icon {
  color: #ffd700 !important; /* Dorado */
  transition: transform 0.2s, color 0.2s;
}

::ng-deep .p-rating .p-rating-icon.p-rating-on-icon {
  color: #ffd700 !important; /* Dorado para estrellas activas */
}

::ng-deep .p-rating .p-rating-icon.p-rating-off-icon {
  color: #e0e0e0 !important; /* Gris claro para estrellas inactivas */
}

::ng-deep .p-rating .p-rating-icon:not(.p-disabled):hover {
  transform: scale(1.2);
  color: #ffe066 !important; /* Amarillo más claro al hacer hover */
}

::ng-deep .p-rating .p-rating-icon:active {
  transform: scale(0.95);
}
